*{
    margin: 0;
<<<<<<< HEAD
    border: 0;
    padding: 0;
}

h1 {
    text-align: center;
    letter-spacing: 2px;
    padding: 25px;
    font-size: 50px;
}

header{
    background-color: rgb(45, 77, 45);
    height: 100px;
=======
    padding: 0;
    border: 0;
}



.sha{
    display: flex;
    justify-content: center;
    height: 7rem;
    background-color: rgb(21, 48, 21);
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 22px;
    letter-spacing: 0.3rem;
    width: 200%;
  
>>>>>>> 82d05505dce4698fac9924adf1a8cdd78d5669f9
}


img{
    position: absolute;
    width: 80px;
    padding-top: 25px;
    padding-left: 25px;
}

.contain {
  display: flex;
  flex-wrap: wrap;
}

.highlight {
    border: 2px solid;
    margin: 10px;
    min-height: 60px;
    border-radius: 20px;
    text-align: center;
  }

  .sidebar {
    width: calc(30% - 36px);
    height: 100vh;
  }

  .main-content {
    width:calc(70% - 36px) ;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    height: 100vh;
  }

<<<<<<< HEAD
  .main-content-row-3-col-1 {
    width: calc(28% - 100px);
    height: 180px;
    margin-left: 100px;
  }

  .main-content-row-1-col-2 {
    width: calc(80% - 50px);
    height: 200px;
    margin-left: 100px;
  }

  .main-content-row-1-col-1 {
    width: calc(75% - 150px);
    margin-left: 170px;
    margin-top: 100px;
    letter-spacing: 2px;
    text-align: start;
    font-size: 30px;
    padding: 15px;
  
  }

  .cola{
    background-color: rgb(28, 39, 28);
  }

  .newbar{
    width: 78%;
    margin-left: 10%;
    margin-top: 100px;
    height: 75vh;
  }

  @media screen and (min-width: 601px) and (max-width: 900px) {
    .main-content-row-3-col-1 ,
    .main-content-row-1-col-2{
      width:50%;
      
    }
    .main-content-row-1-col-1{
        width: 80%;
       margin: auto;
 }
    .newbar{
        display: none;
    }
  
  }
  @media screen and (min-width: 200px) and (max-width: 600px) {
    .newbar{
        display: none;
    }
    .main-content-row-3-col-1 ,
    .main-content-row-1-col-2{
      width:100%;
      margin: 10px;
      margin-left: 30px;
    }
    .main-content-row-1-col-1{
        width: 400px;
        margin: 20px;
    }
     .sidebar{
        display: none;
     }
    }
 
  /* @media screen and (min-width: 601px) and (max-width: 900px) {
    .newbar{
        width: calc(100% - 36px);
    }
  } */
=======
>>>>>>> 82d05505dce4698fac9924adf1a8cdd78d5669f9
